h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffecec;
}
hr {
    border-color: white;
}
h2 {
    text-align: center;
}
.container {
    display: grid;
    grid-template-rows: 80px 80px auto 80px;
    grid-template-columns: 300px;
    grid-template-areas:
    "header header header"
    "sidebar nav nav"
    "sidebar article article"
    "footer footer footer";
    row-gap: 10px;
    column-gap: 10px;
}
.child {
    padding: 10px;
    border-radius: 0.5em;
}
#one {
    grid-area: header;
    background-color: rgb(104, 75, 114);
}
#two {
    grid-area: sidebar;
    background-color: rgb(198, 119, 91);
}
#three {
    grid-area: nav;
    background-color: rgb(100, 151, 168);
}
#four {
    grid-area: article;
    background-color: #6e8b8b;
}
#five {
    grid-area: footer;
    background-color: gray;
}